button {
  -webkit-appearance: none;
}

.button {
  background: linear-gradient(to left, transparent 50%, #0fb 50%) right;
  background-size: 200%;
  border: 1px solid #0fb;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: 2rem;
  padding: 0.9rem 2.5rem;
  text-transform: uppercase;
  transition: all 0.5s;
}

.button:hover {
  background-position: left;
  color: #000;
  transition: all 0.5s;
}
