.about-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.about-left {
  align-items: center;
  display: flex;
  flex: 0.2;
  flex-direction: column;
  margin-right: 1rem;
  padding: 0 1rem;
}

.about-right {
  flex: 0.8;
}

.about-para-one {
  margin-top: 0;
}

.tech-stack-heading {
  font-family: "Montserrat", sans-serif;
  margin: 1rem 0;
  color: #fff;
}

.highlighted-link {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.about-icons-container {
  display: flex;
}

.about-icons-container > :first-child {
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-left {
    margin: 0;
  }

  .about-para-one {
    margin-top: 1rem;
  }
}
