.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.contact-form input,
.contact-form textarea {
  background-color: #262626;
  border: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 0.625rem;
  transition: all 0.2s;
  width: 500px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  transition: all 0.2s;
  transform: scale(1.01);
}

.contact-form #subject,
.contact-form #name,
.contact-form #email {
  margin-bottom: 0.3rem;
}

.contact-form #message {
  margin-bottom: 1rem;
}

.contact-form #message {
  height: 7.5rem;
}

.contact-para {
  margin-top: 2rem;
  max-width: 500px;
  text-align: center;
}

#message {
  resize: none;
}

@media (max-width: 516px) {
  .contact-form {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }
}
