.github-icon {
  color: #fff;
  margin-top: 2rem;
  transition: all 0.5s;
}

.github-icon:hover {
  color: #0fb;
  transition: all 0.5s;
}

.skill-icon-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-icon-container > p {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.5rem 0 0 0;
}

@media (max-width: 768px) {
  .github-icon {
    margin-bottom: 1rem;
  }
}
