* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

input[type="text"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

section {
  position: relative;
}

a {
  text-decoration: none;
}

.section-darker {
  background-color: #212121;
}

.section-dark {
  background-color: #262626;
}

.content-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
  padding: 0 1rem 17rem 1rem;
}
